
.profile-icon{
    width: 700px;
}


.introduction-div{
   display: flex;
   flex-direction: row;

}

.intro-container{
    margin-top: 50px;
    margin-left: 195px;
    
}
.name-intro{
    font-size: 50px;
    width: 300px;
}

.span-name{
    color: rgb(128, 50, 50);
}

.span-student{
    color: rgb(128, 50, 50);
}
.about-me{
    width: 600px;
    margin-top: -33px;
    font-size: 18px;
}

.github-icon{
    width: 40px;
    border-radius: 20px;
}

.linkedin-icon{
    width: 40px;
    border-radius: 205px;
    margin-left: 5px;
}

