
.profile-icon{
    width: 700px;
}


.introduction-div{
   display: flex;
   flex-direction: row;

}

.intro-container{
    margin-top: 50px;
    margin-left: 195px;
    
}
.name-intro{
    font-size: 50px;
    width: 300px;
}

.span-name{
    color: rgb(128, 50, 50);
}

.span-student{
    color: rgb(128, 50, 50);
}
.about-me{
    width: 600px;
    margin-top: -33px;
    font-size: 18px;
}

.github-icon{
    width: 40px;
    border-radius: 20px;
}

.github-icon:hover{
    border: none;
    width: 50px;
    border-radius: 25px;
    transition: 0.7s;
}

.linkedin-icon{
    width: 40px;
    border-radius: 205px;
    margin-left: 5px;
    margin-right: 20px;
}

.linkedin-icon:hover{
    border: none;
    width: 50px;
    border-radius: 25px;
    transition: 0.7s;
    
}

.cv-button{
    background-color:rgb(206, 38, 38) ;
    color: white;
    font-weight: bold;
    width: 150px;
    height: 40px;
    border-radius: 30px;
    position: relative;
    top: -14px;
    border: none;
    box-shadow: 0px 0px 10px rgb(219, 170, 170);
    cursor: pointer;
    transition: 0.3s;
}

.cv-button:hover{
    width:155px;
    height: 45px;
    
    

}


