

.section-skills{
    margin-top: 150px;
    scroll-behavior: smooth;
}

.skills-container{
    display: grid;
    grid-template-columns: 500px 500px 500px;
    margin-left: 205px;
    
}

.skills-title{
    font-size: 30px;
    text-align: center;
    text-decoration: underline rgb(163, 65, 65)
    
    
}

.skill{
    font-size: 25px;
    margin-bottom: -4px;
    margin-top: 5px;
    font-weight: 520;
}

.icon{
    width: 50px;
    border-radius: 25px;
}

.skill-div{
    width: 500px;
    text-align: center;
}

.skill-div:hover{
    border-radius: 10px;
    background-color: rgb(207, 102, 102);
    transition: 0.8s
    
}
.skill-para{
    width: 500px;
    text-align: center;
}

