.header-container{
    display: flex;
    flex-direction: row;
    justify-content: center;  
    align-items: center; 
    border-bottom: solid;
    border-width: 1px;
    border-color:  rgb(78, 78, 78);
    
}

.left-section{
    margin-left: 120px;
    font-size: 25px;
    width: 600px;
    font-weight: 600;
}

.name{
    color: rgb(128, 50, 50); 
}

.name:link{
    color: rgb(128, 50, 50) ;
}

.right-section{
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    font-weight: 600;
    
}

.home{
    margin-right: 90px;
    font-size: 20px;

}

.home-link:active{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.home-link:hover{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.home-link{
    color: white;
    text-decoration: none;
}

.skills{
    margin-right: 90px;
    font-size: 20px;
}

.skills:active{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.skills:hover{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.education{
    margin-right: 90px;
    font-size: 20px;
}

.education:active{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.education:hover{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.experience{
    margin-right: 90px;
    font-size: 20px;
}

.experience:active{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.experience:hover{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.contact{
    margin-right: 90px;
    font-size: 20px;
}

.contact-link:active{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.contact-link:hover{
    text-decoration: underline;
    color: rgb(128, 50, 50);
    cursor: pointer;
}

.contact-link{
    color: white;
    text-decoration: none;
}
