.values-div{
    display: flex;
    flex-direction: column;
}

.values-icon{
    height: 50px;
    width: 50px;
}

.values-title-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.company-title{
    font-size: 36px;
    color: white;
}

.value-text{
    width: 600px;
    margin-top: -5px;
}

.values-flexbox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    flex-wrap: wrap;
    gap: 120px;
    margin-left: 140px;
    margin-top: 60px;
    margin-bottom: 70px;
}

.entire-images-div{
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin-bottom: 90px;
}

.explore-image{
    height: 200px;
}

.explore-images-div {
  display: flex;
  flex-direction: row;
  gap: 150px;
  margin-left: 50px;
}

.explore-images-div2 {
  display: flex;
  flex-direction: row;
  gap: 150px;
}

.image-walls{
    width: 300px;
    height: 200px;
    margin-left: 16px;
}

.image-sky{
    margin-right: 24px;
    width: 300px;
    height: 200px;
}

.image-path{
    margin-left: 20px;
    width: 300px;
    height: 200px;
}