h1{
    color: white;
}

.first-title{

}

.title-div{
    text-align: center;
    margin-top: 30px;
}

.outer-div{
    display: flex;
    flex-direction: column;
    
}

.advice-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 70px;
    margin-bottom: 40px;
}
.image{
    width: 100%;
    width: 560px;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 130px;
    margin-left: 50px;
}

.advice{
    width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 22px;
}

.title{
    margin-left: 50px;
    font-size: 35px;

}