.title-div{
    text-align: center;
    margin-top: 30px;
}

h1{
    color: white;
}

.title-div2{
    text-align: center;
    margin-top: 20px;
}
.thank-you{
    margin-top: 90px;
    color: white;
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}

.confirmation{
    color: white;
    text-align: center;
    margin-top: 20px;
}

.title-div{
            text-align: center;
            margin-top: -50px;
        }

        .form-outer-div{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .form-div{
            background-color: #34A0A4;
            width: 400px;
            height: 440px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .email, .password{
            width: 300px;
            height: 20px;
            border-radius: 5px;
            border: none;
            padding: 5px;
            font-size: 16px;
        }
        
        form label,
        form input {
            display: block;
            margin-bottom: 10px; /* Adds spacing between elements */
        }

        .btn{
            width: 310px;
            height: 35px;
            border-radius: 5px;
            border: none;
            background-color: #000000;
            color: white;
            font-size: 18px;
            cursor: pointer;
        }

        .btn:hover{
            background-color: #0F5E77;
        }